@font-face {
    font-family: Arial-MT;
    src: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/img/evening/21.webp") center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
}


.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-bottom: 10px;
}

.play-list {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: .7s;
}

.play-item:hover {
    opacity: 1;
}

.play-item::before {
    content: "\2713";
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
}

.item-active::before {
    color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .5s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/svg/play.svg");
}

.pause {
    background-image: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/svg/pause.svg");
}

.play-prev {
    background-image: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/svg/play-prev.svg");
}

.play-next {
    background-image: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/svg/play-next.svg");
}
.wrapOption{
    display: flex;
    position: fixed;
    width: 200px;
    height: 200px;
    background: transparent;
    top: 25px;
    right: 250px;
}

.wrapOption:hover .angle{
    opacity: 50%;
    transition: .6s ease-out;
}
.angle {
    background-image: url("../assets/img/angle-down-white.png");
    color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 10%;
    right: 0;
    cursor: pointer;
}

.wrapOption .angle:hover {
    opacity: 100%;
}

.optionLanguage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 50px;
    height: 25px;
    top: 30px;
    right: 0;
    background: #f8e2e2;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .3s ease-out;
    opacity: 0;
}

.open {
    opacity: 100%;
}

.optionLanguageBe,
.optionLanguageEn {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: transparent;
    order: 2;
}

.optionLanguageEn {
    border-left: 1px solid #796767;
    color: #796767;
}
.optionLanguageBe {
    border-right: 1px solid #796767;
    color: #796767;
}
.optionLanguageBe:hover {
    background: #2e3035;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
}

.optionLanguageEn:hover {
    background: #2e3035;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}


.bar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 120px;
    background: transparent;
    position: relative;
}

.playLine{
    background: transparent;
    width: 120px;
    height: 4px;
    transition: all 1s linear;
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    justify-items: start;
    position: relative;
    margin-top: 5px;
    margin-bottom: 3px;
}

.pres {
    display: flex;
    width: 120px;
    height: 11px;
    justify-content: left;
    font-size: 10px;
    background: transparent;
    color: #f6d1d1;
    transition: all 1s linear;
}

.volume-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 40%;
}

.volume {
    display: inline-block;
    width: 11px;
    height: 10px;
    background-size: cover;
    transition: all 1s linear;
    cursor: pointer;
}

.volume.visible{
    background-image: url('https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/img/sound-on.png');
}
.volume.off {
    background-image: url('https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/img/sound-off.png');
}

.volchange {
    display: inline-block;
    width: 35px;
    background: transparent;
    height: 4px;
    cursor: pointer;
    transition: all .2s ease-out;
}

.volume-container:hover .volchange {
    background: #f6d1d1;
}

.change {
    background: transparent;
    height: 100%;
    width: 75%;
    position: relative;
}

.volume-container:hover .change{
    background: #3d3535;
}

.playLine.visible {
    background: #f6d1d1;
}

.play-time {
    font-size: 10px;
    color: transparent;
    display: flex;
    vertical-align: middle;
    transition: all 1s linear;
    position: relative;
    bottom: 9px;
    height: 10px;
    left: 72px;
}

.play-time.visible{
    color: #f6d1d1;
}

.progress {
    display: block;
    outline: none;
    max-width: 100%;
    height: 4px;
    cursor: pointer;
    vertical-align: middle;
}

.progress.visible {
    background: #796767;
}

.play-list {
    list-style: none;
    margin-top: 5px;
}

.play__list__item {
    cursor: pointer;
    margin-bottom: 5px;
    vertical-align: middle;
    transition: all .7s linear;
}
.play__list__item.active {
    text-shadow: 0 0 10px white;
    color: #f6d1d1;
}

.play__list__item::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    outline: none;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    margin-right: 10px;
    background-image: url("../assets/img/play-icon.png");
    background-size: cover;
    vertical-align: baseline;
    transition: all .7s linear;
}

.active::before{
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    outline: none;
    border-radius: 50%;
    background-color: #f6d1d1;
    border: 1px solid white;
    margin-right: 10px;
    background-image: url("../assets/img/pause-icon.png");
    background-size: cover;
    vertical-align: baseline;
    transition: all .7s linear;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.city::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: .6;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 260px;
    padding: 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
    background-image: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/svg/slider-prev.svg");
}

.slide-next {
    right: 20px;
    background-image: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/svg/slider-next.svg");
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT', sans-serif;
    font-size: 150px;
    letter-spacing: -4px;
}

.date {
    min-height: 28px;
    font-size: 45px;
    margin-bottom: 20px;
}

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    font-size: 60px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 60px;
    text-align: left;
    color: #f8e0e0;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.name-optic {
    animation: optic 3s ease-in-out infinite;
}

.name::placeholder {
    color: #e0c3c3;
    opacity: .7;
    font-size: 60px;
}

.name:hover {
    animation: none;
}


@keyframes optic {
    81% {
        opacity: .3;
    }
    85% {
        opacity: .7;
    }
    91% {
        opacity: 0;
    }
    94% {
        opacity: .6;
    }
    96% {
        opacity: 0;
    }
    97% {
        opacity: .2;
    }
    98% {
        opacity: .3;
    }
    99% {
        opacity: .4;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30vh;
    min-height: 160px;
    padding: 20px;
}

.change-quote {
    margin-bottom: 30px;
    background-image: url("https://raw.githubusercontent.com/AlexBoronin/momentum/main/assets/svg/reload.svg");
    transition: all .7s linear;
}

.quote {
    min-height: 32px;
    font-size: 18px;
}

.author {
    min-height: 20px;
}

.set-btn{
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    background-image: url("../assets/img/set.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all 1s ease-out;
}

.set-btn.close {
    transform: rotate(180deg);
    opacity: 0;
}

.set {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    bottom: 5px;
    left: -210px;
    width: 200px;
    height: 250px;
    opacity: 0;
    /*background: #f8e2e2;*/
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    transition: all .7s ease-out;
    box-shadow: 0 0 20px 4px rgb(255 255 255 / 80%);
}
.set.open {
    opacity: 70%;
    transform: translateX(215px);
}

.languageEl,
.apiEl,
.todoEl {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    text-align: left;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 2px solid #2e3035;
    cursor: pointer;
}


.languageEl:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #2e3035;
    color: white;
}

.apiEl:hover,
.todoEl:hover {
    background: #2e3035;
    color: white;
}

/*.lang-opasity,*/
/*.api-opasity,*/
/*.todo-opasity{*/
/*    opacity: 0;*/
/*    transition: all .2s linear;*/
/*}*/

.wrapLanguage {
    position: relative;
    display: none;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 40px;
    background: #f8e2e2;
    transition: all 1s linear;
}

.lang-opasity {
    display: grid;
    transition: all 1s ease-out;
}

.setClose {
    width: 20px;
    height: 35px;
    display: block;
    position: absolute;
    right: 15px;
    bottom: 5px;
    background-image: url("../assets/img/angle-down-white.png");
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    opacity: 50%;
    cursor: pointer;
    transition: all .3s ease-out;
}

.setClose:hover {
    opacity: 80%;

}


@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }

    .greeting-container {
        min-height: 40px;
        font-size: 32px;
    }

    .greeting {
        padding: 5px;
    }

    .name {
        font-size: 32px;
        padding: 5px;
    }
}